


body {
    font-family: "Oswald", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Sansita Swashed", system-ui;
}

span.text {
    position: relative;
    z-index: 2;
    transition-duration: 0.5s;
}

#About,
#Menu {
    background-image: url("../images/leaves_pattern.png");   
    background-color: #4D8B55;
}