header nav {
    z-index: 1000;
}

header nav .navbar-brand {
    width: 7%;
    padding-block: 20px;
}

input#checkDefaultMobile,
input#checkDefault {
    display: none;
}


header nav .mode label {
    cursor: pointer;
    width: 37.5px;
    height: 40px;
    transform: translate(-25%, 33.33333%);
}

header nav .mode label i {
    font-size: 30px;
    position: absolute;
    transition-duration: 2s;
}

header nav .mode label i[class="fa-solid fa-sun"] {
    transform: rotate(0deg);
    opacity: 1;
}


header nav .mode label i[class="fa-solid fa-moon"] {
    transform: rotate(180deg);
    opacity: 0;
}

#checkDefaultMobile:checked+label i[class="fa-solid fa-sun"],
#checkDefault:checked+label i[class="fa-solid fa-sun"] {
    transform: rotate(360deg);
    opacity: 0;
}


#checkDefaultMobile:checked+label i[class="fa-solid fa-moon"],
#checkDefault:checked+label i[class="fa-solid fa-moon"] {
    transform: rotate(360deg);
    opacity: 1;
    transition-delay: 1s;
}



header nav .nav-link {
    position: relative;
    overflow: hidden;
    border-radius: 5px;
}


header nav .nav-link::before,
header nav .nav-link::after,
header nav .nav-link span.shape {
    content: "";
    display: block;
    width: 100%;
    height: calc(100%/3);
    position: absolute;
    background-color: var(--bs-success);
    transition-duration: 0.5s
}

header nav .nav-link::before {
    top: 0;
    left: -100%;
}

header nav .nav-link span.shape {
    top: calc(100%/3);
    right: -100%;
}

header nav .nav-link::after {
    bottom: 0;
    left: -100%;
}

header nav .nav-link:hover::before,
header nav .nav-link:hover::after {
    left: 0;
}

header nav .nav-link:hover span.shape {
    right: 0;
}

header #carouselExampleCaptions .carousel-indicators button {
    width: 8px;
    height: 8px;
}

header #carouselExampleCaptions .carousel-indicators button.active {
    background-color: var(--bs-success);
}

header .carousel-inner .carousel-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header .carousel-inner .carousel-item:nth-of-type(1) {
    background-image: url('../images/banner1.jpg');
}

header .carousel-inner .carousel-item:nth-of-type(2) {
    background-image: url('../images/banner2.jpg');
}

header .carousel-inner .carousel-item:nth-of-type(3) {
    background-image: url('../images/banner3.jpg');
}

header .carousel-inner .carousel-item:nth-of-type(4) {
    background-image: url('../images/banner4.jpg');
}

header .carousel-inner .carousel-item::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
}

header .carousel-inner .carousel-item .container {
    position: relative;
}

header .carousel-inner .carousel-item .carousel-caption {
    position: initial;
}

header .carousel-inner .carousel-item .carousel-caption p {
    letter-spacing: 1.5px;
    width: 80%;
    font-size: 20px;
}

header .carousel-inner .carousel-item .carousel-caption>* {
    transform: translateY(-50%);
    opacity: 0;
    transition-duration: 1s;
}


header .carousel-inner .carousel-item.active .carousel-caption p {
    transition-delay: .2s;
}


header .carousel-inner .carousel-item.active .carousel-caption .buttons {
    transition-delay: .4s;
}

header .carousel-inner .carousel-item .carousel-caption .buttons a {
    position: relative;
    overflow: hidden;
}

header .carousel-inner .carousel-item .carousel-caption .buttons a:hover .text {
    color: #fff;
}

header .carousel-inner .carousel-item .carousel-caption .buttons a::before,
header .carousel-inner .carousel-item .carousel-caption .buttons a::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    border: 21px solid var(--bs-success);
    transition-duration: 1s;
}

header .carousel-inner .carousel-item .carousel-caption .buttons a::before {
    left: -100%;
    border-right-color: transparent;
}

header .carousel-inner .carousel-item .carousel-caption .buttons a:hover::before {
    left: 0;
}

header .carousel-inner .carousel-item .carousel-caption .buttons a::after {
    right: -100%;
    border-left-color: transparent;
}

header .carousel-inner .carousel-item .carousel-caption .buttons a:hover::after {
    right: 0;
}

header .carousel-inner .carousel-item.active .carousel-caption>* {
    transform: translateY(0);
    opacity: 1;
}

#About .row .part1 .item span {
    letter-spacing: 2px;
}

#About .row .part1 .item h2 {
    font-size: 45px;
    letter-spacing: 1.5px;
}

#About .row .part1 .item p {
    letter-spacing: 1.5px;
    line-height: 30px;
}


#About .row .part1 .item button {
    font-size: 20px;
    letter-spacing: 1.5px;
    position: relative;
    overflow: hidden;
}

#About .row .part1 .item button:hover span {
    color: var(--bs-success);
}

#About .row .part1 .item button::before,
#About .row .part1 .item button::after {
    content: "";
    display: block;
    width: 100%;
    height: 50%;
    position: absolute;
    left: 0;
    background-color: #fff;
    transition-duration: 0.5s;
}

#About .row .part1 .item button::before {
    top: -50%;
}

#About .row .part1 .item button:hover::before {
    top: 0;
}

#About .row .part1 .item button::after {
    bottom: -50%;
}

#About .row .part1 .item button:hover::after {
    bottom: 0;
}

#About .row .part2 .box .special-card {
    position: relative;
    width: 230px;
    margin: auto;
    height: 390px;

}


#About .row .part2 .box .special-card .front {
    backface-visibility: hidden;
    transition-duration: 1s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#About .row .part2 .box:nth-of-type(1) .special-card .front {
    background-image: url(../images/about_front_01.jpg);
}

#About .row .part2 .box:nth-of-type(2) .special-card .front {
    background-image: url(../images/about_front_02.jpg);
}

#About .row .part2 .box:nth-of-type(3) .special-card .front {
    background-image: url(../images/about_front_03.jpg);
}

#About .row .part2 .box .special-card:hover .front {
    transform: rotateY(180deg);
}

#About .row .part2 .box .special-card .back {
    backface-visibility: hidden;
    transform: rotateY(180deg);
    transition-duration: 1s;
    height: 100%;
}

#About .row .part2 .box:nth-of-type(1) .special-card .back {
    background-color: #404042;
}

#About .row .part2 .box:nth-of-type(2) .special-card .back {
    background-color: #88774B;
}

#About .row .part2 .box:nth-of-type(3) .special-card .back {
    background-color: #6D1F37;
}

#About .row .part2 .box .special-card:hover .back {
    transform: rotateY(0);
}


#About .row .part2 .box .special-card .back a {
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    display: block;
    cursor: pointer;
    text-decoration: none;
    width: fit-content;
    margin: auto;
    transition-duration: 0.5s;
    font-weight: 100;
}

#About .row .part2 .box .special-card .back a:hover {
    background-color: #fff;
    font-weight: 400;
}

#About .row .part2 .box .special-card .back a i {
    transition-duration: 0.5s;
}

#About .row .part2 .box .special-card .back a:hover i {
    margin-left: 2px;
}

#About .row .part2 .box:nth-of-type(1) .special-card .back a:hover {
    color: #404042;
}

#About .row .part2 .box:nth-of-type(2) .special-card .back a:hover {
    color: #88774B;
}

#About .row .part2 .box:nth-of-type(3) .special-card .back a:hover {
    color: #6D1F37;
}

#Services {
    background-image: url("../images/beans_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
}

#Services::before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    left: 0;
}

#Services .container {
    position: relative;
}

#Services p {
    color: #c2c2c2;
}

#Services i {
    font-size: 40px;
    color: #4d8b55;
}

#Services .container .content img {
    animation-name: animate1;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#Menu .nav-tabs {
    width: fit-content;
}

#Menu .nav-tabs .nav-link {
    color: #fff;
    transition-duration: 0.5s;
}

#Menu .nav-tabs .nav-link.active,
#Menu .nav-tabs .nav-link:hover {
    color: var(--bs-success);
    background-color: #fff;
}

#Menu .item {
    background-color: #fff;
    transform: scale(0);
    transition-duration: 0.5s;
}

#Menu .tab-pane.show .item {
    transform: scale(1);
}

#Menu .item img {
    transform: scale(0.8);
    transition-duration: 1s;
}

#Menu .item:hover img {
    transform: scale(1);
}

#Menu h6,
#Menu p {
    background-image: url("../images/leaves_pattern.png");
    background-color: #4D8B55;
    padding: 10px;
    border-radius: 0px 10px 10px 0px;
    transform: translateX(-100%);
    transition-duration: 0.5s;
}

#Menu .item:hover h6,
#Menu .item:hover p {
    transform: translateX(0);
}

#Menu h6 {
    top: 10px;
}

#Menu p {
    bottom: 20px;
}

#Beans {
    background-image: url("../images/ice_drinks_bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 300px;
    position: relative;
}

#Beans:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(54, 45, 39, 0.6);
    position: absolute;
    top: 0;
    left: 0;
}



#Beans h2 {
    font-size: clamp(25px, 6.2vw, 80px);
}

#Beans h3 {
    font-size: clamp(30px, 8.5vw, 60px);
}

#Beans i {
    font-size: 100px;
    color: #fff;
    transition-duration: 0.5s;

}

#Beans i:hover {
    color: var(--bs-success);
}

#Beans .modal-dialog {
    width: 100%;
    max-width: initial;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: none;
}

#Beans .modal-content {
    width: 50%;
    background-color: transparent;
}

#Book {
    background-image: url("../images/black-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#Book .container {
    background-image: url("../images/girl.png");
    min-height: 100vh;
    background-position: left bottom;
    background-size: 60%;
    background-repeat: no-repeat;
}

#Book form {
    background-image: url(../images/leaves_pattern.png);
    background-color: #4D8B55;
    border-radius: 10px;
    margin-left: auto;
    width: 40%;
}

#Book form .input-group,
#Book form button {
    width: 80%;
    margin: auto;
}

#Book form button {
    position: relative;
    overflow: hidden;
    border: 1px solid #4d8b55;
    transition-duration: .5s;
}

#Book form button:hover {
    border-color: #fff;
}

#Book form button span {
    font-weight: bolder;
    letter-spacing: 1.5px;
    position: relative;
    z-index: 2;
}

#Book form button:after {
    content: "";
    display: block;
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #4d8b55;
    transition-duration: .5s;
    z-index: 1;
}

#Book form button:hover:after {
    bottom: 0%;
}

footer {
    background-color: #333333;
}

footer #footer-span {
    font-weight: bolder;
    letter-spacing: 1.5px;
}